<button mat-flat-button color="primary" [disabled]="disabled()" (click)="openAddNewBookDialog()">Добавить книгу</button>

<div class="search">
	<mat-form-field>
		<mat-label>Поиск по названию и описанию</mat-label>
		<input matInput [formControl]="searchFormControl" />
	</mat-form-field>
	@if (searchFormControl.value) {
		<mat-icon (click)="clearSearch()">clear</mat-icon>
	}
</div>

<mat-form-field class="sort">
	<mat-label>Сортировка по</mat-label>
	<mat-select [formControl]="sortFormControl">
		<mat-option [value]="null">-</mat-option>

		@for (sort of sortValues; track sort.field) {
			<mat-option [value]="sort">{{ sort.viewValue }}</mat-option>
		}
	</mat-select>
</mat-form-field>
