<button mat-flat-button color="primary" [disabled]="disabled()" (click)="openAddNewbookDialog()">Добавить книгу</button>

<mat-form-field class="search">
	<mat-label>Поиск по названию и описанию</mat-label>
	<input matInput [formControl]="searchFormControl" />
</mat-form-field>

<mat-form-field class="sort">
	<mat-label>Сортировка по</mat-label>
	<mat-select name="sort" [formControl]="sortFormControl">
		<mat-option [value]="null">-</mat-option>

		@for (sort of sortValues; track sort.field) {
			<mat-option [value]="sort">{{ sort.viewValue }}</mat-option>
		}
	</mat-select>
</mat-form-field>
