@use 'utilities/mixins';

:host {
	@include mixins.flex-space-between();

	.search {
		@include mixins.flex-vertical-align(var(--margin-s));

		.mat-mdc-form-field {
			width: 300px;
		}

		.mat-icon {
			cursor: pointer;
		}
	}

	.sort {
		width: 180px;
	}
}
