@use 'utilities/mixins';

:host {
	@include mixins.flex-row(var(--margin-m));

	flex: 1;
	height: 0;

	.filters {
		@include mixins.flex-column();

		flex-basis: 30%;
		max-width: 300px;
	}

	.books-container {
		@include mixins.flex-column(var(--margin));

		flex: 1;
		overflow: auto;
		padding: 0 var(--padding-m);
		width: 0;

		.books {
			@include mixins.flex-column(var(--margin-m));
			@include mixins.scroll();

			flex: 1;
			height: 0;
			overflow: auto;

			&__book {
				cursor: pointer;

				&:hover {
					--mdc-elevated-card-container-elevation: 0 0 11px rgba(33, 33, 33, 0.2);
				}
			}
		}
	}
}
