@use 'utilities/mixins';

:host {
	@include mixins.flex-column();

	flex: 1;

	.assigner-field {
		@include mixins.flex-vertical-align(var(--margin-m));

		.mat-mdc-form-field {
			flex: 1;
		}

		&-input {
			margin-top: var(--margin-m);
		}
	}
}
