@use '@angular/material' as mat;

@use 'theme' as app-theme;
@use 'utilities/mixins';

:host {
	.mat-toolbar-row {
		@include mixins.flex-space-between();

		.links {
			@include mixins.flex-row(var(--margin-m));

			&__link {
				color: white;
				text-decoration: none;

				&:active,
				&:hover {
					color: white;
					text-decoration: none;
				}

				&.active {
					color: mat.get-theme-color(app-theme.$angular-app-theme, accent);
				}
			}
		}
	}
}
