@use 'utilities/mixins';

:host {
	--mat-dialog-actions-alignment: flex-end;

	.mat-mdc-dialog-content {
		.form {
			$gap: var(--margin);

			@include mixins.flex-wrap($gap);

			.mat-mdc-form-field {
				flex-basis: calc(50% - calc($gap / 2));

				&:has(textarea) {
					flex-basis: 100%;
				}
			}

			textarea {
				height: 80px;
				resize: none;
			}
		}
	}
}
