@use 'utilities/mixins';

:host {
	@include mixins.flex-container();

	.main {
		@include mixins.flex-column(var(--margin-xs));

		box-sizing: border-box;
		flex: 1;
		height: 0;
		padding: var(--padding);

		&::ng-deep {
			not-found-container,
			books-container,
			authors-container {
				@include mixins.flex-column(var(--margin-xs));

				flex: 1;
				height: 0;
			}
		}
	}
}
