@use 'utilities/mixins';

:host {
	height: 100%;

	.no-data {
		@include mixins.flex-container();

		font-weight: bold;

		&.xs {
			font-size: 12px;
		}

		&.s {
			font-size: 18px;
		}

		&.m {
			font-size: 24px;
		}

		&.l {
			font-size: 30px;
		}

		&.xl {
			font-size: 36px;
		}
	}
}
