@use 'utilities/mixins';

:host {
	@include mixins.flex-column(var(--margin-m));

	flex: 1;

	.title {
		@include mixins.flex-space-between();
	}

	.filters {
		@include mixins.flex-column(var(--margin));

		flex: 1;
		height: 0;

		&__filter {
			@include mixins.flex-column(var(--margin-s));

			.mat-mdc-slider {
				--mat-slider-value-indicator-opacity: 0.8;
			}
		}
	}
}
